{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des auteurs</h1>


    <ul>
    {% for author in authorList %}
        <li>
            <a href="{{ path('author_details', {'id': author.id}) }}">
                {{ author.firstName }} {{ author.name }}
            </a>
        </li>
    {% endfor %}
    </ul>

{% endblock %}